name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
    branches:
      - '**'

env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  VERSION: '0.0.1'

jobs:
  ci_cd:
    runs-on: windows-latest

    steps:
    - name: Write release version
      if: ${{ env.IS_RELEASE == 'true' }}
      run: |
        $VERSION = $env:GITHUB_REF_NAME.TrimStart('v')
        Write-Host "Version: $VERSION"
        Add-Content -Path $env:GITHUB_ENV -Value "VERSION=$VERSION"
    - name: Check out code
      uses: actions/checkout@v5

    - name: Set up .NET
      uses: actions/setup-dotnet@v4

    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: 'microsoft'
        java-version: '17'

    - name: Restore .NET tools
      run: dotnet tool restore

    - name: Restore NuGet dependencies
      run: dotnet restore

    - name: Begin Sonar scan
      env:
        ENV_SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        dotnet tool install --global dotnet-sonarscanner
        dotnet sonarscanner begin /k:mu88_BlazorFotoManager /o:mu88 /d:sonar.token=${{ env.ENV_SONAR_TOKEN }} /d:sonar.host.url=https://sonarcloud.io /d:sonar.cs.opencover.reportsPaths=Tests\coverage.opencover.xml /s:${{ github.workspace }}/SonarQube.Analysis.xml

    - name: Build
      run: dotnet build --no-restore FotoManager.sln

    - name: Test and collect coverage
      run: dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

    - name: End Sonar scan
      env:
        ENV_SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: dotnet sonarscanner end /d:sonar.token=${{ env.ENV_SONAR_TOKEN }}

    - name: Build Windows app with ElectronNET
      run: |
        pushd FotoManager
        dotnet tool run electronize build /target win /Version ${{ env.VERSION }}
        popd

    - name: Attest build provenance
      uses: actions/attest-build-provenance@v3
      if: ${{ env.IS_RELEASE == 'true' }}
      with:
        subject-path: FotoManager/bin/Desktop/FotoFlipper*.exe

    - name: Release
      uses: softprops/action-gh-release@v2
      if: ${{ env.IS_RELEASE == 'true' }}
      with:
        files: FotoManager/bin/Desktop/FotoFlipper*.exe # forward slashes MUST be used here, otherwise no artifacts will be found
        tag_name: ${{ env.VERSION }}
